# Generic files to ignore.
.*

# Python temp paths.
__pycache__/
*.py[cod]

# Fallback location used for the language model.
/model

# Build stuff
build/
package/python/build/
package/python/doc/
package/python/nerd-dictation
package/python/nerd_dictation.egg-info/
